table th, table td {
    text-align: center;
}

table td.titel, table th.titel {
    width: 100px;
}

table td.zaal, table th.zaal {
    width: 80px;
}

table td.datum-tijdstip, table th.datum-tijdstip {
    width: 200px;
}

.w-7 {
    width: 7%;
}

.w-25 {
    width: 25%;
}

.w-45 {
    width: 45%;
}

.w-93 {
    width: 93%;
}

.vertical-align-sub {
    vertical-align: sub;
}

.dropdown-icon {
    background-image: url('../../images/dropdown-icon.png');
}

.dropdown-icon {
    background-image: url('../../images/dropdown-icon.png');
}

.licht-rood {
    color: #ff7a7a;
}

.licht-groen {
    color: #7aff7a;
}

.groepsnaam:hover {
    cursor: pointer;
}

.info {
    font-size: 30px;
    font-weight: lighter;
}