.container_image{
  display: flex;
  position: absolute;
  top: 65px;
  left: 0px;
  width: 100%;
  height: 550px;
  background-color: lightblue;

}

body{
  background-color: black;
}

.image{
  width: 100%;
}

@media (max-width: 768px){
  .container_image{
    height: 350px;
  }
}


.container_home{
  position: relative;
  display: flex;
  top: 615px;
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
}

@media (max-width: 768px){
  .container_home{
    top: 415px;
  }
}


.container_title{
  display: flex;
  justify-content: start;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  background-color: lightgreen;
}

.container_cards{
  display: flex;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 800px;
  background-color: aqua;
}


.container_sections{
 display: flex;
 position: absolute;
 width: 100%;
 height: 800px;
 top: 700px;
 background-color: brown; 
}

.container_news{
  display: flex;
  position: absolute;
  width: 100%;
  height: 500px;
  top: 1500px;
  background-color: aquamarine;
}

