/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.banner-img {
  background-size: cover;
  background-position: center;
  height: 33vh;
}

.kop-text {
  font-weight: lighter;
  font-size: 35px;
}

figcaption.text-inside-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  figcaption.text-inside-image {
    position: relative;
    background: none;
    color: rgb(255, 255, 255);
  }
}

.border-grey {
  border-color: #545454;
}

.licht-rood {
  color: #ff7a7a;
}

.licht-groen {
  color: #7aff7a;
}

.modal {
  text-align: center;
  border-color: #545454;
  z-index:100000;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background-color: rgb(16, 16, 16);
  color: white;
  width: 80vw;
}

.modal-header {
  background-color: rgb(16, 16, 16);
  color: white;
  border-bottom: 1px solid rgb(98, 98, 98);
}

.modal-footer {
  border-top: 1px solid rgb(98, 98, 98);
  background-color: rgb(16, 16, 16);
  color: white;
}

.modal-body {
  background-color: rgb(16, 16, 16);
  color: white;
  border:rgb(16, 16, 16)
}

.modal-content {
  background-color: rgb(16, 16, 16);
  color: white;
}