.slider-container {
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 500px;
    position: relative;
    top: 25px;
    padding: 40px;
    background: #000000;
  }

  .slick-slide div {
    margin: auto;
  }

.slider-item{
  position: relative;
  left: 40px;
  max-width: 300px;
}

@media (max-width: 900px) {
  .slider-item{
    left: -7px;
  }
}

@media (max-width: 900px){
  .slick-slide div{
    width: 200px;
    height: 400px;
  }
} 

  .slider-item > img{
    width: 100%;
  }