.navbar-expand-sm{
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0px;
  height: 65px;
}

.NavItem:hover {
  opacity: 0.75;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 12px;
  color: black;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}