html,body{
    color: #fff;
}

.signup-container{
    position: relative;
    top: 120px;
    height: 100%;

}

.lni{
    font-size: 64px;
}

.bg{
    
}

.regform{
    box-shadow: 0px 8px 9px 0px rgba(69, 69, 69, 0.25);
}

.sign{
    color: #000;
}