.ReserveringContainer {
    position:relative;
    top: 50px;
    color: white;
    background: grey;
    padding-bottom: 1px;
    border-radius:  6px;
}

.cardBtn {
  border-radius: 4px;
  transition: .2s;
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.cardBtn:hover {
  transform: scale(1.05);
}

.cardBtn h3 {
  font-weight: 600;
}

.stoeltabel {
  transition: .2s
} 

.stoeltabel:hover {
  transform: scale(1.01);
}

.datacell:hover {
  opacity: 50%;
  cursor: pointer;
}

.datacell:active {
  box-shadow: 0 0px #666;
}

.datacell:enabled {
  color: #3e0000;
}